body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;

    /* This "turns on" flexbox utlilties */
    display: flex;
    flex-direction: row;
    /* Justify content effects the main axis */
    justify-content: center;

    /* Align Items relates the cross axis */
    align-items: flex-start;
    /* align-content: space-around; */
    /* flex-wrap: wrap; off for demonstration of flex-shrink*/
}

/* The height is 200px for each div, but when the container is smaller the divs will flex down and fit in the container */
#container div {
    height: 200px;
    width: 200px;
    font-size: 4em;
    flex-basis: 600px;
    /* Flex grow allows the containers to grow in the extra space it has available */
    /* flex-grow: 1; */
}

/*div:nth-of-type(3) {
    /* This is how you can position individual elements */
/*align-self: center;
}*/

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 2;
}

/* Here, Flex grow will "grow" twice as much compared to 1 */
div:nth-of-type(5) {
    flex-grow: 3;
}

main {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid black;

    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    /* border: 2px solid white; */
    /* Flex shorthand notation */
    flex: 1 2 300px;
}

main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 800px;
}